.nav-container {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;       
  background-color: #222;
  padding: 1rem 2rem;
  z-index: 1000;
  border-bottom: 1px solid white;  
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex: 1;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  margin-right: 60px;
  gap: 30px;
  
}

.nav-item{
  font-size: 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff9800;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #ff9800;
}
.cart-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;   
  padding: 0;
}

.cart-btn:hover {
  color: #ff9800;
}
.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: darkred;
}
.nav-right .change-password-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #1890ff; 
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.nav-right .change-password-btn:hover {
  background-color: #0272ce;
}
